<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="labelenum" id="mupen64-cpucore" values="dynamic_recompiler|cached_interpreter|pure_interpreter" default="dynamic_recompiler"/>
		<setting label="30002" type="labelenum" id="mupen64-audio-buffer-size" values="1024|2048" default="2048"/>
		<setting label="30003" type="labelenum" id="mupen64-astick-deadzone" values="0|5|10|15|20|25|30" default="15"/>
		<setting label="30004" type="labelenum" id="mupen64-pak1" values="none|memory|rumble" default="none"/>
		<setting label="30005" type="labelenum" id="mupen64-pak2" values="none|memory|rumble" default="none"/>
		<setting label="30006" type="labelenum" id="mupen64-pak3" values="none|memory|rumble" default="none"/>
		<setting label="30007" type="labelenum" id="mupen64-pak4" values="none|memory|rumble" default="none"/>
		<setting label="30008" type="labelenum" id="mupen64-disable_expmem" values="enabled|disabled" default="enabled"/>
		<setting label="30009" type="labelenum" id="mupen64-gfxplugin-accuracy" values="low|medium|high|veryhigh" default="medium"/>
		<setting label="30010" type="labelenum" id="mupen64-gfxplugin" values="auto|glide64|gln64|rice|angrylion" default="auto"/>
		<setting label="30011" type="labelenum" id="mupen64-rspplugin" values="auto|hle|cxd4" default="auto"/>
		<setting label="30012" type="labelenum" id="mupen64-screensize" values="320x240|640x480|960x720|1280x960|1600x1200|1920x1440|2240x1680" default="640x480"/>
		<setting label="30013" type="labelenum" id="mupen64-aspectratiohint" values="normal|widescreen" default="normal"/>
		<setting label="30014" type="labelenum" id="mupen64-filtering" values="automatic|N64 3-point|bilinear|nearest" default="automatic"/>
		<setting label="30015" type="labelenum" id="mupen64-polyoffset-factor" values="-5.0|-4.5|-4.0|-3.5|-3.0|-2.5|-2.0|-1.5|-1.0|-0.5|0.0|0.5|1.0|1.5|2.0|2.5|3.0|3.5|4.0|4.5|5.0" default="-3.0"/>
		<setting label="30016" type="labelenum" id="mupen64-polyoffset-units" values="-5.0|-4.5|-4.0|-3.5|-3.0|-2.5|-2.0|-1.5|-1.0|-0.5|0.0|0.5|1.0|1.5|2.0|2.5|3.0|3.5|4.0|4.5|5.0" default="-3.0"/>
		<setting label="30017" type="labelenum" id="mupen64-angrylion-vioverlay" values="enabled|disabled" default="disabled"/>
		<setting label="30018" type="labelenum" id="mupen64-virefresh" values="1500|2200" default="1500"/>
		<setting label="30019" type="labelenum" id="mupen64-bufferswap" values="on|off" default="on"/>
		<setting label="30020" type="labelenum" id="mupen64-framerate" values="original|fullspeed" default="original"/>
		<setting label="30021" type="labelenum" id="mupen64-vcache-vbo" values="on|off" default="off"/>
		<setting label="30022" type="labelenum" id="mupen64-boot-device" values="Default|64DD IPL" default="Default"/>
		<setting label="30023" type="labelenum" id="mupen64-64dd-hardware" values="enabled|disabled" default="disabled"/>
	</category>
</settings>
